.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .formHeader {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .questionnaire {
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .question {
    margin: 15px 0;
  }
  
  .label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .inputRadio {
    margin-left: 10px;
  }
  
  .scoreResult {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
  }
  
  .tableContainer {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 20px;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .questionRow td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .buttonsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .cancelButton {
    background-color: #f44336;
    color: white;
  }
  
  .submitButton {
    background-color: #4CAF50;
    color: white;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 600px;
    height: auto;
    max-height: 90%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
  }
  
  
  .modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
  }
  
  .showModal {
    display: flex;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  