/* Base reset for full width and no unexpected margins or paddings */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Styles for the landing page */
  .ehrLandingPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-image: url('src/assets/background_image.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; /* Adjusted padding */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9); /* Adjust opacity as needed */
    z-index: 10; /* Ensure the header is above the main content */
    padding: 1rem 5rem
  }
  
  .logoContainer {
    display: flex;
    flex-direction: row; /* Align items in a row */
    justify-content: flex-start; /* Align items to the start of the container */
    align-items: center;
    text-align: center;
  }
  
  .universityLogo {
    height: 60px;
    margin-bottom: 0.5rem;
  }
  
  .universityName,
  .recordName {
    color: #000;
    margin: 0;
    margin-left: 0.5rem;
    display: block;
  }
  
  .nav {
    display: flex;
    gap: 1rem;
  }
  
  .loginLink {
    text-decoration: none;
    color: #000; /* Black color for visibility */
    font-weight: 400;
    padding: 0.5rem 1rem; /* Padding similar to Sign Up */
    border-radius: 25px; /* Rounded corners */
    font-weight: bold;
  }

  .dashboardLink {
    background-color: transparent; 
    color: #000; 
    text-decoration: none; /* Remove default underline */
    padding: 0.5rem 1rem; /* Padding to maintain button-like dimensions */
    border-radius: 25px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    border: 1px; /* No border */
    display: inline-block; /* Ensures padding and dimensions are respected */
    text-align: center; /* Center the text inside the link */
    cursor: pointer; /* Cursor changes to pointer to indicate this is clickable */
    transition: text-decoration-color 0.3s ease, color 0.3s ease; /* Smooth transition for color changes */
    padding-right: 50px;
    white-space: nowrap;
    margin-top: 5%;
  }

.dashboardLink:hover, .dashboardLink:focus {
    text-decoration: underline; /* Add underline on hover/focus */
    text-decoration-color: #007BFF; /* Blue underline color */
    color: #007BFF; /* Change text color on hover to match underline */
    outline: none; /* Removes outline to keep styling clean */
}


  .loginButton {
    background-color: #500000;
    color: #500000;
    font-weight: bold;
    /* background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer; */
  }
  
  .signupLink {
    background-color: #500000; /* Maroon */
    color: #fff; /* White text */
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-weight: 600;
    white-space: nowrap;
  }
  
  .mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width */
    position: relative;
    max-height: calc(100vh); /* Calculate the max height */
    overflow: hidden;
    background-image: url('src/assets/background_image.png');
    background-size: cover;
    background-position: center;
    position: relative; /* Needed for absolute positioning of children */
    padding-top: 120px;
  }
  
  .imagePlaceholder {
    /* Assuming .imagePlaceholder is the container of the background logo image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Below the text */
    opacity: 0.5; /* Adjust the opacity as needed */
  }
  
  .ollieContainer {
    /* Center 'Olivia Health' text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure it's above the background image */
  }
  
  .oliviaText,
  .healthText {
    display: block;
    color: rgb(255, 255, 255); /* Black color for visibility */
    font-size: xx-large;
  }
  
  .ollieHead {
    /* Position the Ollie head logo in the bottom right */
    position: absolute;
    bottom: 20px; /* Adjust distance from bottom */
    right: 20px; /* Adjust distance from right */
    width: 100px; /* Adjust size as needed */
    height: auto; /* Keep the aspect ratio */
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
    }
  
    .nav,
    .logoContainer {
      justify-content: center;
      margin-top: 1rem;
    }
  
    .mainContent {
      margin-top: 2rem;
    }
  }
  