.formContainer {
  max-width: 100%; /* or 100% for full width */
  margin: auto;
  padding: 0;
  position: relative;
  
}
.formSection {
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .formSectionTitle {
    background-color: #ddd;
    padding: 5px 10px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .labelBlock {
    display: block;
    
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid black; */
    background: #ddd;
    padding: 5px 10px;
    text-align: left;
    width: 50%; /* Match width with the grid column width */
    border-right: 1px solid black; 
  }
  
 
  .questionContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    height:50px;
  }
  
  .radioGroup {
    display: flex;
  align-items: center;
    margin-bottom: 10px;
  }
  
  .radioLabel {
    margin-right: 10px;
  }
  
  .inputBlock {
    flex-grow: 1;
    margin: 0; 
    border: none;
    padding: 5px 10px; 
    
  }

  .inputGroup {
    display: flex;
    border: 1px solid black; /* Border around each question */
    margin: 0; /* Reset default margins */
  }
  
  .buttonSubmit {
    display: block;
    margin-top: 10px;
    grid-column: 1 / -1; /* Span full width */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    background-color: #ddd;
    cursor: pointer;
    align-self: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
      /* Other styles for the button */
    
  }

  .largeTextArea {
    width: 99%; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    padding: 10px;
    font-size: 16px; /* Adjust the font size as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none; /* This will prevent the user from resizing the textarea */
  }

  