/* AddPatientForm.module.css */

.formContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.patientForm {
  width: 100%;
  max-width: 500px; /* Adjust based on your design preference */
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.patientForm label {
  display: block;
  margin-bottom: 10px;
}

.patientForm input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px; /* Give some space between inputs */
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submitButton {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}
