.overlay {
    position: fixed; /* Positioned relative to the viewport */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Sit on top */
    display: flex; /* Enable flex */
    align-items: center; /* Vertical center */
    justify-content: center; /* Horizontal center */
  }
  
  .popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 3; /* Sit on top of the overlay */
    max-width: 500px; /* Maximum width */
    width: 90%; /* Responsive width */
  }