.prenatal-care-form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }

  .prenatal-care-form h1 {
    text-align: center;
  }
  
  .prenatal-care-form form {
    display: flex;
    flex-direction: column;
  }
  
  .prenatal-care-form label {
    margin-top: 10px;
  }
  
  .prenatal-care-form input[type="text"],
  .prenatal-care-form input[type="date"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .prenatal-care-form div {
    margin-top: 10px;
  }
  
  .prenatal-care-form input[type="checkbox"] {
    margin-right: 5px;
  }


  .prenatal-care-form button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  