
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'typeface-open-sans';

.map-container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Navbar.css */
/* Add or modify the following styles to position the navbar and logo */

/* Navbar container */
.texas-a-m-branded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo container (left corner) */
.logo-container {
  display: flex; /* Use flexbox */
  align-items: center; /* Vertically center content */
  
}

/* Logo */
.maroon-logo {
  max-width: 250px; /* Adjust the maximum width of your logo */
  height: auto; /* Maintain aspect ratio */
}

.nav-buttons {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Add margin to push the buttons to the right corner */
}

/* Navbar button styles */
.nav-button {
  color: #030303; /* Text color */
  text-decoration: none;
  margin: 30px; /* Adjust the spacing between buttons */
  font-weight: normal; /* Adjust the font weight */
  font-size: 25px;
}

/* Navbar button hover effect */
.nav-button:hover {
  color: #4D0000; /* Change text color on hover */
}

/* App.css */
@font-face {
  font-family: 'TungstenMedium';
  src: url('./fonts/Tungsten-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.open-sans-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; 
  /* Other button styles go here */
}

.header-home {
  font-family: 'Open Sans', sans-serif; /* Apply the Open Sans font */
  color: white; /* Set the text color to white */
  padding: 10px;
  text-align: center; /* Center the text */
  font-size: 70px;
}


body {
  font-family: 'Open Sans', sans-serif; /* Change the font to Open Sans */
  /* Other CSS styles for the body element */
}
.sub-bar {
  background-color:   #4D0000; /* Background color */
  padding: 10px; /* Padding for content */
  text-align: center; /* Center the content */
}
.sub-bar p {
  color: #FFFFFF; /* Change text color to black */
  font-size: 1.3rem;
}

 /* MaternalDemographicsCard.css USE THIS FOR ALL CARDS!!! */

/* Container for the card */
.maternal-demographics-card {
  background-color: #ffffff;
  border: 2px solid #4d0000;
  border-radius: 15px;
  padding: 25px;
  margin: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 800px; /* Optional: Limit the width on very large screens */
  width: 90%; /* Take up 90% of the screen width, but no more than 800px */
  margin-left: auto;
  margin-right: auto; /* Center the card horizontally */
}

/* Title style */
.maternal-demographics-card h2 {
  color: #4d0000;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.headerstyle {
  color: #4d0000;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* Question style */
.question-container p {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Input field style */
.question-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #4d0000;
  border-radius: 10px;
}

/* Next button style */
.question-container button {
  background-color: #4d0000;
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
  align-self: flex-end;
  margin-top: auto;
}

/* Next button hover effect */
.question-container button:hover {
  background-color: #4d0000;
}

/* Media Query for Tablets and Smaller Desktop Screens */
@media (max-width: 1024px) {
  .maternal-demographics-card {
    width: 95%; /* Allow it to take up a little more space */
  }
}

/* Media Query for Mobile Screens */
@media (max-width: 768px) {
  .maternal-demographics-card {
    width: 100%;
    border-radius: 0; /* Optional: full-width cards on mobile often don't have rounded corners */
    padding: 15px; /* Decrease padding a bit for more space */
  }

  /* Adjust the title font size for smaller screens */
  .maternal-demographics-card h2 {
    font-size: 1.3rem;
  }
}





/* Add this CSS to your App.css file */

.button-container {
  display: flex;
  flex-direction: column; /* Arrange rows vertically */
  align-items: center; /* Center align rows horizontally */
  gap: 20px; /* Adjust the gap between rows as needed */
}

.button-row {
  display: flex;
  justify-content: center; /* Center align buttons horizontally within the row */
  gap: 10px; /* Adjust the gap between buttons as needed */
}



.circular-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center; /* Center align button content vertically and horizontally */
  width: 140px;
  height: 140px;
  background-color: #4d0000;
  color: white;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s ease;
  margin: 5px; /* Adjust the margin between buttons as needed */
}

.circular-button:hover {
  background-color: #830707; /* Change the background color on hover */
}
.rectangular-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center;     /* Centers content horizontally */
  width: 200px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  background-color: #4d0000;
  color: white;
  border-radius: 10px; /* Adjust for slight rounded corners */
  text-align: center;
  text-decoration: none;
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s ease;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for depth */
  position: relative; /* Optional: Makes the shadow appear above other elements */
  overflow: hidden; /* Optional: Hide any overflowed content */
}

.rectangular-button:hover {
  background-color: rgba(131, 7, 7, 0.7); /* Add a semi-transparent tint on hover */
}

.rectangular-button:hover .button-bg-image {
  transform: translateY(0); /* Slide the image into view on hover */
}

.button-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: translateY(-100%); /* Initially position the image above the button */
  transition: transform 0.3s ease; /* Smooth transition for the slide-in effect */
  z-index: -1; /* Ensure the image stays behind the text */
}



/* Default style for hiding the dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown when it's active */
.dropdown-content.show {
  display: block;
}

/* Custom styles for the About dropdown */
.custom-about-toggle {
  background: transparent;
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  margin: -20px; /* Adjust the margin to match the distance of other buttons */
}

.custom-about-toggle:focus {
  background: transparent;
  box-shadow: none;
}

#faq-dropdown,
#contact-dropdown {
  background-color: #fff !important; /* Set the background color to white */
  border: 2px solid #4d0000 !important; /* Add a border for visibility */
  padding: 5px 10px !important; /* Adjust padding as needed */
  font-size: 18px !important;
  cursor: pointer !important;
  width: auto !important;
  text-align: center; /* Center the text horizontally */
  display: flex;
  align-items: center; /* Center the text vertically */
  justify-content: center; /* Center the text horizontally */
  position: absolute; /* Position the dropdowns absolutely */
  top: 0; /* Place them at the top */
  right: 20px; /* Adjust the right value for horizontal positioning */
  z-index: 1; /* Ensure they are above other content */
}

#faq-dropdown:focus,
#contact-dropdown:focus {
  background-color: #fff !important;
  box-shadow: none !important;
}

.custom-dropdown-menu {
  margin-left: 18px; /* Adjust the margin-left value as needed to align with "About" */
  margin-top: -8px;
  background-color: #fff !important;
  border: none !important;
  padding: 0 !important;
  width: auto !important;
}

.custom-dropdown-item {
  text-align: center;
}

.custom-dropdown-link {
  color: #000 !important;
  font-weight: normal;
  font-size: 18px !important;
}

.custom-dropdown-item:hover {
  background-color: #f0f0f0 !important;
}
.profile-container {
  display: flex;
  height: 100vh;
}

.left-bar {
  background-color: #4d0000;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.section-button {
  margin-bottom: -30px;
  padding: 5px 20px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section-button.active {
  background-color: #4d0000;
  color: white;
}

.right-content {
  flex-grow: 1;
  padding: 20px;
}

.section-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}



.question-number-indicator {
  top: 10px; /* Adjust this value as needed */
  right: 10px; /* Adjust this value as needed */
  background-color: #4d0000; 
  color: #ffffff; /* White text */
  padding: 5px 10px; /* Some padding around the text */
  border-radius: 4px; 
  font-weight: bold; /* Make the text bold */
  z-index: 10; /* Ensure it's above other elements */
}

.answer {
  font-weight: normal;
}
.service-profile-container {
  background-color: #ffffff;
  border: 2px solid #4d0000;
  border-radius: 15px;
  padding: 25px;
  margin: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 800px; /* Optional: Limit the width on very large screens */
  width: 90%; /* Take up 90% of the screen width, but no more than 800px */
  margin-left: auto;
  margin-right: auto; /* Center the card horizontally */
    max-height: 500px; /* Set the maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
}
.service-profile-container h2 {
  color: #4d0000;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.subsectionProfile{
  color: #4d0000;
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-top: 15px;
}

.profile-rectangular-button{
  display: inline-flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center;     /* Centers content horizontally */
  width: 100px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  background-color: #4d0000;
  color: white;
  border-radius: 10px; /* Adjust for slight rounded corners */
  text-align: center;
  text-decoration: none;
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s ease;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for depth */
  position: relative; /* Optional: Makes the shadow appear above other elements */
  overflow: hidden; /* Optional: Hide any overflowed content */
  margin-top: 15px;
  margin-bottom: 15px;
}

.infantProfileButton{
  /* make text size small */
  font-size: 15px;
}

.profile-navigation-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
/* Add your custom styles for the FAQ page */
.faq-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.faq-list {
  margin-top: 30px;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

.faq-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.faq-item p {
  font-size: 16px;
  line-height: 1.6;
}
.faq-title {
  font-size: 2.5rem; /* Adjust the font size */
  font-weight: bold;
  color: #4d0000; /* Your chosen color */
  margin-bottom: 20px;
  text-align: center;
}

.contact-page {
  text-align: center;
  margin: 20px;
}

.contact-title {
  font-size: 3em;
  color: #4d0000;
  margin-bottom: 20px;
}

.contact-table {
  border-collapse: collapse;
  width: 100%;
}

.contact-cell {
  padding: 20px;
}

.contact-details {
  text-align: left;
  margin-top: 20px;
}

.contact-details h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.contact-details p {
  font-size: 1.2em;
  margin: 5px 0;
}
.sponsor {
  text-align:left;
  font-size: 24px; /* Adjust the font size as needed */
  color: #4d0000;
}

.developer h1 {
  font-size: 24px;
  text-align: left;
  color: #4d0000;
}
