/* ProgressNavBar.css */

.progress-meter {
  background-color: #fcfcfc;
  border-radius: 5px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  top: 130px;
  width: 200px;
  z-index: 15;
}

.progress-bar {
  height: 20px;
  background-color: #4d0000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: width 0.4s ease;
  font-family: 'Open Sans', sans-serif;
}

/* Sidebar navigation styles */
.sidebar-navigation {
  position: fixed;
  right: 10px;
  top: 150px;
  width: 200px;
  max-height: 40vh; /* Adjusted for a smaller box */
  background: white;
  border: 2px solid #4d0000;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

/* Style adjustments for the question list within the sidebar */
.question-list {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Changed for full-width buttons */
}

/* Individual question button styles */
.question-button {
  background: white;
  color: #4d0000;
  border: 1px solid #ddd;
  padding: 8px; /* Reduced padding for less chunky buttons */
  margin: 2px 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 15px; /* Rounded edges */
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem; /* Smaller font size */
}

/* Style for the active question button */
.question-button.active {
  background: #4d0000;
  color: white;
  font-weight: bold;
}

/* Hover effect for buttons */
.question-button:hover {
  background-color: #622828; /* Light maroon background on hover */
  color: white;
}

/* Custom scrollbar styles for the sidebar */
.sidebar-navigation::-webkit-scrollbar {
  width: 15px;
}

.sidebar-navigation::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sidebar-navigation::-webkit-scrollbar-thumb {
  background: #4d0000;
  border-radius: 5px;
}

.sidebar-navigation::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

  